<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="header::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3 mt-3">
					<div class="my-card mt-4">
						<div class="div contaner text-center">
							<!-- <img style="width: 100px;'" th:src="@{/images/login.png}" alt="" /> -->
						</div>

						<form th:action="@{/send-OTP}" method="post">
							<h1 class="text-center">Register Email Address</h1>
							<div th:if="${session.message}" id="success-alert"
								class="container">
								<div th:classappend="${'alert-'+session.message.type}"
									class="alert " role="alert">
									<span th:text="${session.message.content}"></span>
								</div>
								<th:block th:text="${#session.removeAttribute('message')}"></th:block>
							</div>
							<div class="mb-3">

								<input type="email" class="form-control" value="ravi@gmail.com"
									required name="email">

							</div>

							<div class="text-center">
								<button type="submit" class="btn btn-warning">Send OTP</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>